.auth-content {
  padding: 20px;
}

.auth-content__title {
  font-size: 1.3rem;
  font-weight: 600;
  color: darkslategray;
  margin-bottom: 18px;
}

.auth-content__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth-content__form > input {
  min-width: 220px;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 0;
  margin-bottom: 10px;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
}

.auth-content__form > button {
  min-width: 220px;
  padding: 10px;
  margin-top: 6px;
  border-radius: 4px;
  border: none;
  background-color: darkslategray;
  color: white;
  cursor: pointer;
  transition: all 250ms ease-in;
}

.auth-content__form > button:hover {
  opacity: 0.8;
}

.auth-content > .MuiSvgIcon-root {
  position: absolute;
  top: 4vh;
  right: 3vw;
  font-size: 1.9rem;
  color: darkslategray;
  cursor: pointer;
}

.auth-content__forgotPwd {
  font-size: 0.9rem;
  font-weight: 600;
  color: darkslategray;
  text-align: center;
  margin-top: 8px;
  cursor: pointer;
}
