.book-details {
  width: 100%;
  height: 100vh;
  background-color: rgba(236, 235, 235, 0.45);
}

.book-details__content {
  padding-top: 30vh;
  display: flex;
}

.book-details__thumbnail > img {
  width: 190px;
  object-fit: contain;
  box-shadow: 1px 5px 15px 4px rgba(0, 0, 0, 0.2);
  border: 1px solid whitesmoke;
}

.book-details__info {
  margin-left: 60px;
}

.book-details__title {
  font-size: 1.5rem;
  font-weight: 600;
  color: darkslategray;
  margin-bottom: 6px;
}

.star-ratings {
  margin: 6px 0;
}

.book-details__author,
.book-details__publisher,
.book-details__overview {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
  margin-bottom: 5px;
}

.book-details__overview {
  margin-top: 10px;
  max-width: 60vw;
  line-height: 22px;
  font-size: 0.96rem;
}

.book-details__purchase {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.book-details__price {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid #d9534f;
  color: #d9534f;
  cursor: default;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  user-select: none;
}

.book-details__addToCart {
  padding: 10px 20px;
  background: #d9534f;
  border: 1px solid #d9534f;
  color: white;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 250ms ease;
}

.book-details__addToCart:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 720px) {
  .book-details {
    height: max-content;
  }
  .book-details__thumbnail {
    display: flex;
    justify-content: center;
  }
  .book-details__thumbnail > img {
    width: 165px;
    margin-top: 5vh;
  }
  .book-details__content {
    flex-direction: column;
    padding-top: 20vh;
  }
  .book-details__info {
    margin-left: 0;
    margin-top: 30px;
  }
  .book-details__title,
  .book-details__author,
  .book-details__overview,
  .book-details__publisher {
    text-align: center;
  }
  .book-details__author,
  .book-details__publisher {
    margin-top: 7px;
  }
  .book-details__overview {
    margin-top: 30px;
    max-width: unset;
  }
  .star-ratings {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .book-details__purchase {
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10vh;
  }
  .book-details__price {
    padding: 10px 35px;
  }
}

@media only screen and (max-width: 440px) {
  .book-details__thumbnail > img {
    width: 150px;
  }
  .book-details__content {
    padding-top: 14vh;
  }
  .book-details__title {
    font-size: 1.2rem;
  }
  .book-details__author,
  .book-details__publisher,
  .book-details__overview {
    font-size: 0.93rem;
  }
  .book-details__overview {
    padding: 0 10px;
  }
  .book-details__price {
    padding: 10px 26px;
  }
}
