.category-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  padding-bottom: 40px;
  border-bottom: 2px solid whitesmoke;
}

.category-row__topBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.category-row__left {
  display: flex;
  align-items: center;
}

.category-row__icon {
  margin-right: 10px;
}

.category-row__icon > .MuiSvgIcon-root {
  font-size: 1.9rem;
  color: darkslategray;
}

.category-row__title {
  font-size: 1.1rem;
  font-weight: 600;
  color: darkslategray;
}

.category-row__seeAll {
  display: none;
  padding: 8px 30px;
  background-color: transparent;
  border: 1px solid darkslategray;
  color: darkslategray;
  cursor: pointer;
  transition: all 250ms ease;
}

.category-row__seeAll:hover {
  background-color: darkslategray;
  color: white;
}
.category-row__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

@media only screen and (max-width: 680px) {
  .category-row__grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 25px;
  }
}

@media only screen and (max-width: 450px) {
  .category-row__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
