.error-alert {
  position: fixed;
  bottom: -16vh;
  left: -24vw;
  padding: 13px 18px;
  background-color: red;
  color: white;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
}

.error-alert__list {
  list-style-type: none;
}

.error-alert__listItem {
  font-size: 0.9rem;
  font-weight: 600;
}
